// Settings for printing - unsupported in Safari
@page {
	size: auto;
	margin: 0mm;
}
body {
background: #eee;
// margin: 0px;
	.z-top {
		z-index: 10000;
	}
	#instructor-list {
		#instructor-wrapper {
			input[type=text] {
				margin-top: 10px;
				width: 100%;
				background: #eee;
				border: 0;
				outline: 0;
			}
		}
	}
	#schedule {
		border-top: 3px black solid;
			/* Time Header layout */
		#time-header {
			padding-top: 25px;
			display: flex;
			.time-block {
				height: 50px;
				line-height: 50px;
				text-align: center;
			}
		}
		// these cannot be nested in lesson because it is not a child of lesson, it is on the same selector level
		#lesson.ghost{
			opacity: 0.5;
			background: #dfd;
		}
		// must be second
		#lesson.ghost-hover{
			background: #aea;
		}
		#lesson {
			background: #ddd;
			ul {
				margin:3px 0 0 0;
				padding:0 0 0 3px;
				list-style:none;
					input.private-name {
						width: 135px;
						background: #ddd;
						border: 0;
					}
			}
			#lesson-controls {
				height: 26px;
				width: auto;
				background: #aaa;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				input.clear-lesson {
					float: right;
				}
				input.change-lesson-instructor-value {
					width: 20px;
					height: 18px;
					margin-right: 0;
					border: 0;
					border-bottom: 1px solid #333;
					text-align: center;
					background: #ddd;
				}
				input {
					margin: 2px 3px;
				}
			}
			#private-comments {
				height: 55px;
				width: 130px;
			}
		}
	}
			/* Sizing Class/Break blocks */
	.length-14 {
		border-radius: 5px;
		border: 1px solid black;
		width: 68px;      /* think 70 px (+2px border) */
		margin: 5px 5px;
	}
	.length-29 {
		border-radius: 5px;
		border: 1px solid black;
		width: 148px;
		margin: 5px 5px;
	}
	.length-44 {
		border-radius: 5px;
		border: 1px solid black;
		width: 228px;
		margin: 5px 5px;
	}
	.length-59 {
		border-radius: 5px;
		border: 1px solid black;
		width: 308px;
		margin: 5px 5px;
	}
			/* Instructor Layout */
	.instructor {
		display: flex;
		margin-top: 5px;
		#break-block {
			display: flex;
			align-items: center;
			justify-content: center;
			background: #ddd;
			// Fix break text rendering through dragged nodes
			z-index: 0;
		}
		#break-block span {
			position: relative;
			top: 40%;
		}
	}
		/* Form Layout */
	.form-wrapper {
		padding-bottom: 30px;
	}
	.form-field-wrapper {
		margin-top: 5px;
	}
	/* Button styles */
	input[type='radio'] {
		display: none;
	}
	input[type='radio'].first + label  {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-left: 1px solid black;
	}
	input[type='radio'].last + label  {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border-right: 1px solid black;
	}
	input[type='radio'] + label {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		display: inline-block;
		position: relative;
		text-align: center;
		padding: 0.8em 1em;
	}
	input[type='radio']:checked + label {
		background-color: #E0F0FF;
	}

	input[type='checkbox'] {
		display: none;
	}
	input[type='checkbox'].first + label  {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-left: 1px solid black;
	}
	input[type='checkbox'].last + label  {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border-right: 1px solid black;
	}
	input[type='checkbox'] + label {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		display: inline-block;
		position: relative;
		text-align: center;
		padding: 0.8em 1.2em;
	}
	input[type='checkbox']:checked + label {
		background-color: #E0F0FF;
	}
}
