body {
background: #eee;
	#schedule {
		border-top: 3px black solid;
			/* Time Header layout */
		#time-header {
			padding-top: 25px;
			display: flex;
			.time-block {
				border-radius: 5px;
				height: 50px;
				line-height: 50px;
				text-align: center;
			}
		}
		#lesson {
			background: #ddd;
			border-radius: 5px;
			ul {
				margin:3px 0 0 0;
				padding:0 0 0 3px;
				list-style:none;
					input.private-name {
						width: 135px;
						background: #ddd;
						border: 0;
					}
			}
			.lesson-control-wrapper {
				height: 25px;
				width: auto;
				input.delete-lesson-input {
					float: right;
				}
				input.change-lesson-instructor-value {
					width: 20px;
					height: 18px;
					margin-right: 0;
					border: 0;
					border-bottom: 1px solid #333;
					text-align: center;
					background: #ddd;
				}
				input {
					margin: 3px 4px;
				}
			}
		}
	}
			/* Sizing Class/Break blocks */
	.length-14 {
		border: 1px solid black;
		width: 68px;      /* think 70 px (+2px border) */
		margin: 5px 5px;
	}
	.length-29 {
		border: 1px solid black;
		width: 148px;
		margin: 5px 5px;
	}
	.length-44 {
		border: 1px solid black;
		width: 230px;
		margin: 5px 5px;
	}
	.length-59 {
		border: 1px solid black;
		width: 310px;
		margin: 5px 5px;
	}
			/* Instructor Layout */
	.instructor {
		display: flex;
		margin-top: 5px;
	}
	#break-blocks {
		border-radius: 5px;
		text-align: center;
	}
	#break-blocks span {
		position: relative;
		top: 40px;
	}
		/* Form Layout */
	.form-wrapper {
		padding-bottom: 30px;
	}
	.form-field-wrapper {
		margin-top: 5px;
	}
		/* Button styles */
	input[type='radio'] {
		display: none;
	}
	input[type='radio'].first + label  {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-left: 1px solid black;
	}
	input[type='radio'].last + label  {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border-right: 1px solid black;
	}
	input[type='radio'] + label {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		display: inline-block;
		position: relative;
		text-align: center;
		padding: 0.8em 1.2em;
	}
	input[type='radio']:checked + label {
		background-color: #E0F0FF;
	}
}
