/* CSS declarations go here */

	/* Instructor Layout */

#instructor {
  margin-top: 15px;
}

#class-info {
	padding-left: 10px;
}

	/* Form Layout */
.form-wrapper {
  margin-bottom: 15px;
}

.form-field-wrapper {
  margin-top: 5px;
}

	/* Button styles */
input[type='radio'] {
	display: none;
}

input[type='radio'].first + label  {	
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-left: 1px solid black;
}
input[type='radio'].last + label  {	
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-right: 1px solid black;
}

input[type='radio'] + label {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: inline-block;
	position: relative;
	text-align: center;
	padding: 0.8em 1.2em;
}

input[type='radio']:checked + label {
	background-color: #E0F0FF;
}
