<template name='weekdaySelector'>
	<div id="weekday-wrapper" class='form-wrapper'>
		<input checked type="checkbox" name="weekday-toggle" id="weekday-sunday" class="first" value="sunday"><label for="weekday-sunday">Sunday</label><!--
		--><input type="checkbox" name="weekday-toggle" id="weekday-monday" value="monday"><label for="weekday-monday">Monday</label><!--
		--><input type="checkbox" name="weekday-toggle" id="weekday-tuesday" value="tuesday"><label for="weekday-tuesday">Tuesday</label><!--
		--><input type="checkbox" name="weekday-toggle" id="weekday-wednesday" value="wednesday"><label for="weekday-wednesday">Wednesday</label><!--
		--><input type="checkbox" name="weekday-toggle" id="weekday-thursday" value="thursday"><label for="weekday-thursday">Thursday</label><!--
		--><input type="checkbox" name="weekday-toggle" id="weekday-friday" value="friday"><label for="weekday-friday">Friday</label><!--
		--><input type="checkbox" name="weekday-toggle" id="weekday-saturday" class="last" value="saturday"><label for="weekday-saturday">Saturday</label>
	</div>
</template>
