<template name="instructorList">
	{{setId}}
	{{> timeHeader setId=setId}}
	<div id="instructor-list">
		{{#each instructors setId}}
		<div id="instructor-wrapper">
			<input type="text" name="instructor-name" class='instructor-name' placeholder='Instructor'/>
			<div class="instructor">
				{{#each sortedLessonList lessonList}}
					{{#each getLeadingBreaks this}}
						{{> break}}
					{{/each}}
					{{>lesson this}}
					{{#each getTrailingBreaks this}}
						{{> break}}
					{{/each}}
				{{/each}}
			</div>
		</div>
		{{/each}}
	</div>
</template>
