
<template name="lessonControls">
		<div class="lesson-control-wrapper">
			{{!-- The change-lesson-instructor button/text input fields MUST appear next to each other in the DOM --}}
			<input type="text" class='change-lesson-instructor-value' name="change-lesson-instructor-value" value="" />
			<input type="button" class='change-lesson-instructor' name="change-lesson-instructor" value=">" />
			{{#if split}}
				<input type="button" class='break-split-lesson-input' name="split-class" value="o|o" />
			{{/if}}
			<input type="button" class='delete-lesson-input' name="delete-lesson" value="X" />
		</div>
</template>
