<template name="levelSelector">
	<div id="level-wrapper" class="form-wrapper">
		<div id="swim-kids-wrapper" class="form-field-wrapper">
			<input checked type="radio" name="level-toggle" id="sk1" class="first" value="1"><label for="sk1">SK 1</label><!--
			--><input type="radio" name="level-toggle" id="sk2" value="2"><label for="sk2">SK 2</label><!--
			--><input type="radio" name="level-toggle" id="sk3" value="3"><label for="sk3">SK 3</label><!--
			--><input type="radio" name="level-toggle" id="sk4" value="4"><label for="sk4">SK 4</label><!--
			--><input type="radio" name="level-toggle" id="sk5" value="5"><label for="sk5">SK 5</label><!--
			--><input type="radio" name="level-toggle" id="sk6" value="6"><label for="sk6">SK 6</label><!--
			--><input type="radio" name="level-toggle" id="sk7" value="7"><label for="sk7">SK 7</label><!--
			--><input type="radio" name="level-toggle" id="sk8" value="8"><label for="sk8">SK 8</label><!--
			--><input type="radio" name="level-toggle" id="sk9" value="9"><label for="sk9">SK 9</label><!--
			--><input type="radio" name="level-toggle" id="sk10" class="last" value="10"><label for="sk10">SK 10</label>
		</div>

		<div id="preschool-wrapper" class="form-field-wrapper">
			<input type="radio" name="level-toggle" class="first" value="11" id="starfish"><label for="starfish">Starfish</label><!--
			--><input type="radio" name="level-toggle" value="12" id="duck"><label for="duck">Duck</label><!--
			--><input type="radio" name="level-toggle" value="13" id="sea-turtle"><label for="sea-turtle">Sea Turtle</label><!--
			--><input type="radio" name="level-toggle" value="14" id="sea-otter"><label for="sea-otter">Sea Otter</label><!--
			--><input type="radio" name="level-toggle" value="15" id="salamander"><label for="salamander">Salamander</label><!--
			--><input type="radio" name="level-toggle" value="16" id="sunfish"><label for="sunfish">Sunfish</label><!--
			--><input type="radio" name="level-toggle" value="17" id="crocodile"><label for="crocodile">Crocodile</label><!--
			--><input type="radio" name="level-toggle" class="last" value="18" id="whale"><label for="whale">Whale</label>
		</div>

		<div id="swimmers-wrapper" class="form-field-wrapper">
			<input checked type="radio" name="swimmers-toggle" id="1" class="first" value="1"><label for="1">1</label><!--
			--><input type="radio" name="swimmers-toggle" id="2" value="2"><label for="2">2</label><!--
			--><input type="radio" name="swimmers-toggle" id="3" value="3"><label for="3">3</label><!--
			--><input type="radio" name="swimmers-toggle" id="4" value="4"><label for="4">4</label><!--
			--><input type="radio" name="swimmers-toggle" id="5" value="5"><label for="5">5</label><!--
			--><input type="radio" name="swimmers-toggle" id="6" value="6"><label for="6">6</label><!--
			--><input type="radio" name="swimmers-toggle" id="7" value="7"><label for="7">7</label><!--
			--><input type="radio" name="swimmers-toggle" id="8" value="8"><label for="8">8</label><!--
			--><input type="radio" name="swimmers-toggle" id="9" value="9"><label for="9">9</label><!--
			--><input type="radio" name="swimmers-toggle" id="10" class="last" value="10"><label for="10">10</label>
		</div>
	</div>
</template>
