<template name="timeSelector">
	<div id="time-wrapper" class="form-wrapper">

		<div class='time-stage'>
			<span class='stage hour'> {{getHour}} :</span>
			<span class='stage minute'> {{getMinute}} </span>
			<span class='stage am-pm'> {{getAmPm}} </span>
		</div>

		<div id="hour-wrapper" class="form-field-wrapper">
			<input checked type="radio" name="hour-toggle" id="time-hour-1" class="hour-toggle first" value="1"><label id="time-hour-1-label" for="time-hour-1">1</label><!--
			--><input type="radio" name="hour-toggle" id="time-hour-2" class='hour-toggle' value="2"><label id="time-hour-2-label" for="time-hour-2">2</label><!--
			--><input type="radio" name="hour-toggle" id="time-hour-3" class='hour-toggle' value="3"><label id="time-hour-3-label" for="time-hour-3">3</label><!--
			--><input type="radio" name="hour-toggle" id="time-hour-4" class='hour-toggle' value="4"><label id="time-hour-4-label" for="time-hour-4">4</label><!--
			--><input type="radio" name="hour-toggle" id="time-hour-5" class='hour-toggle' value="5"><label id="time-hour-5-label" for="time-hour-5">5</label><!--
			--><input type="radio" name="hour-toggle" id="time-hour-6" class='hour-toggle' value="6"><label id="time-hour-6-label" for="time-hour-6">6</label><!--
			--><input type="radio" name="hour-toggle" id="time-hour-7" class='hour-toggle' value="7"><label id="time-hour-7-label" for="time-hour-7">7</label><!--
			--><input type="radio" name="hour-toggle" id="time-hour-8" class='hour-toggle' value="8"><label id="time-hour-8-label" for="time-hour-8">8</label><!--
			--><input type="radio" name="hour-toggle" id="time-hour-9" class='hour-toggle' value="9"><label id="time-hour-9-label" for="time-hour-9">9</label><!--
			--><input type="radio" name="hour-toggle" id="time-hour-10" class='hour-toggle' value="10"><label id="time-hour-10-label" for="time-hour-10">10</label><!--
			--><input type="radio" name="hour-toggle" id="time-hour-11" class='hour-toggle' value="11"><label id="time-hour-11-label" for="time-hour-11">11</label><!--
			--><input type="radio" name="hour-toggle" id="time-hour-12" class='hour-toggle last' value="12"><label id="time-hour-12-label" for="time-hour-12">12</label>
		</div>

		<div id="minute-wrapper" class="form-field-wrapper">
			<input checked type="radio" name="minute-toggle" class="minute-toggle first" value="00" id="time-minute-00"><label id="time-minute-00-label" for="time-minute-00">00</label><!--
			--><input type="radio" name="minute-toggle" value="15" class='minute-toggle' id="time-minute-15"><label id="time-minute-15-label" for="time-minute-15">15</label><!--
			--><input type="radio" name="minute-toggle" value="30" class='minute-toggle' id="time-minute-30"><label id="time-minute-30-label" for="time-minute-30">30</label><!--
			--><input type="radio" name="minute-toggle" value="45" class='minute-toggle last' id="time-minute-45"><label id="time-minute-45-label" for="time-minute-45">45</label>
		</div>

		<div id="am-pm-wrapper" class="form-field-wrapper">
			<input checked type="radio" name="am-pm-toggle" id="AM" class="am-pm-toggle first" value='0'><label id='AM-label' for="AM">AM</label><!--
			--><input type="radio" name="am-pm-toggle" id="PM" class="am-pm-toggle last" value='1'><label id='PM-label' for="PM">PM</label>
		</div>

	</div>
</template>
