<template name="timeSelector">
	<div id="time-wrapper" class="form-wrapper">
		<strong>Time Selector</strong>
		<div id="hour-wrapper" class="form-field-wrapper">
			<input checked type="radio" name="time-toggle" id="time-hour-1" class="first" value="1"><label id="time-hour-1-label" for="time-hour-1">1</label><!--
			--><input type="radio" name="time-toggle" id="time-hour-2" value="2"><label id="time-hour-2-label" for="time-hour-2">2</label><!--
			--><input type="radio" name="time-toggle" id="time-hour-3" value="3"><label id="time-hour-3-label" for="time-hour-3">3</label><!--
			--><input type="radio" name="time-toggle" id="time-hour-4" value="4"><label id="time-hour-4-label" for="time-hour-4">4</label><!--
			--><input type="radio" name="time-toggle" id="time-hour-5" value="5"><label id="time-hour-5-label" for="time-hour-5">5</label><!--
			--><input type="radio" name="time-toggle" id="time-hour-6" value="6"><label id="time-hour-6-label" for="time-hour-6">6</label><!--
			--><input type="radio" name="time-toggle" id="time-hour-7" value="7"><label id="time-hour-7-label" for="time-hour-7">7</label><!--
			--><input type="radio" name="time-toggle" id="time-hour-8" value="8"><label id="time-hour-8-label" for="time-hour-8">8</label><!--
			--><input type="radio" name="time-toggle" id="time-hour-9" value="9"><label id="time-hour-9-label" for="time-hour-9">9</label><!--
			--><input type="radio" name="time-toggle" id="time-hour-10" value="10"><label id="time-hour-10-label" for="time-hour-10">10</label><!--
			--><input type="radio" name="time-toggle" id="time-hour-11" value="11"><label id="time-hour-11-label" for="time-hour-11">11</label><!--
			--><input type="radio" name="time-toggle" id="time-hour-12" class="last" value="12"><label id="time-hour-12-label" for="time-hour-12">12</label>
		</div>

		<div id="minute-wrapper" class="form-field-wrapper">
			<input checked type="radio" name="minute-toggle" class="first" value="00" id="time-minute-00"><label id="time-minute-00-label" for="time-minute-00">00</label><!--
			--><input type="radio" name="minute-toggle" value="15" id="time-minute-15"><label id="time-minute-15-label" for="time-minute-15">15</label><!--
			--><input type="radio" name="minute-toggle" value="30" id="time-minute-30"><label id="time-minute-30-label" for="time-minute-30">30</label><!--
			--><input type="radio" name="minute-toggle" class="last" value="45" id="time-minute-45"><label id="time-minute-45-label" for="time-minute-45">45</label>
		</div>

		<div id="am-pm-wrapper" class="form-field-wrapper">
			<input checked type="radio" name="am-pm-toggle" id="AM" class="first" value="0"><label id='AM-label' for="AM">AM</label><!--
			--><input type="radio" name="am-pm-toggle" id="PM" class="last" value="1"><label id='PM-label' for="PM">PM</label>
		</div>

		<div id="length-wrapper" class='form-field-wrapper'>
			<input checked type="radio" name="length-toggle" id="30-min" class="first" value="29"><label id="30-min-label" for="30-min">30 Min</label><!--
			--><input type="radio" name="length-toggle" id="45-min" value="44"><label id="45-min-label" for="45-min">45 Min</label><!--
			--><input type="radio" name="length-toggle" id="60-min" class="last" value="59"><label id="60-min-label" for="60-min">60 Min</label>
		</div>
	</div>
</template>
