<template name='lesson'>
	{{#with getLesson this}}
	<div id="lesson" class="length-{{length}}{{#if ghost}} ghost{{/if}}">
		{{> lessonControls}}
		<div id='lesson-content'>
			{{#if privateLesson}}
				{{#if comments}}
					{{comments}}
				{{else}}
					A private
				{{/if}}
			{{else}}
				<ul>
					<li>{{sanitizeLevels levels}}</li>
					<li>{{swimmers}} Swimmers</li>
					<li>{{sanitizeTime startTime}}</li>
					<li>{{sanitizeTime endTime}}</li>
				</ul>
			{{/if}}
			</div>
		</div>
		{{/with}}
</template>
